<div class="started">
  <div class="started-background"></div>
  <div class="started-content" fxLayout="column" fxLayoutAlign="center">
    <div fxLayout="row">
      <div fxFlex="20"></div>
      <div class="started-description">
        Начните поиск, бронируйте недвижимость<br>
        и живите комфортно используя наш сервис
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="10"></div>
      <div fxFlex="80">
        <app-request></app-request>
        <app-filters></app-filters>
      </div>
      <div fxFlex="10"></div>
    </div>
  </div>
</div>


