<div class="request" fxFlex fxLayout="row">


  <div fxFlex="18" fxLayoutAlign="center" fxLayout="row">
    <div fxFlex="25"></div>
    <div fxFlex="75" class="search-section" fxLayout="column" fxLayoutAlign="center start" (click)="callFilterPlace()">
      <div>
        <h3 class="section-h3">
          Где
        </h3>
        <p class="section-p">
          Республика коми<br>
          Сыктывкар
        </p>
      </div>
    </div>
  </div>




  <div fxFlex="18" fxLayoutAlign="center center">
    <div fxFlex="25"></div>
    <div fxFlex="75" class="search-section" fxLayout="column" fxLayoutAlign="center start">
      <div>
        <h3 class="section-h3">
          Прибытие
        </h3>
        <p class="section-p">
          15 мая 2019 года<br>
          понедельник
        </p>
      </div>
    </div>
  </div>
  <div fxFlex="18" fxLayoutAlign="center center">
    <div fxFlex="25"></div>
    <div fxFlex="75" class="search-section" fxLayout="column" fxLayoutAlign="center start">
      <div>
        <h3 class="section-h3">
          Выезд
        </h3>
        <p class="section-p">
          25 мая 2019 года<br>
          пятница
        </p>
      </div>
    </div>
  </div>
  <div fxFlex="18" fxLayoutAlign="center center">
    <div fxFlex="25"></div>
    <div fxFlex="75" class="search-section" fxLayout="column" fxLayoutAlign="center start">
      <div>
        <h3 class="section-h3">
          Гости
        </h3>
        <p class="section-p">
          2 взрослых<br>
          животные
        </p>
      </div>
    </div>
  </div>
  <div fxFlex="18" fxLayoutAlign="center center">
    <div fxFlex="25"></div>
    <div fxFlex="75" class="search-section" fxLayout="column" fxLayoutAlign="center start">
      <div>
        <h3 class="section-h3">
          Тип объекта
        </h3>
        <p class="section-p">
          Квартира<br>
          2 кровати
        </p>
      </div>
    </div>
  </div>
  <div fxFlex="10" fxLayoutAlign="center center">
    <div class="search-ellipse">
      <img class="search-image" src="assets/images/main/search/loupe.svg" alt="search">
    </div>
  </div>
</div>



