<footer fxHide.xs fxHide.sm>
  <div fxLayout="row" fxLayoutAlign="center">

    <div
      fxFlex.xl="30%"
      fxFlex.lg="12%"
      fxFlex.md="8%"
      fxFlex.sm="6%"
    ></div>

    <div
      fxFlex
      class="section_1"
    >
      <h3>Booking house</h3>
      <ul>
        <li>
          <a href="">Реквизиты компании</a>
        </li>
        <li>
          <a>Поддержка</a>
        </li>
        <li>
          <a>Вакансии</a>
        </li>
        <li>
          <a>Условия</a>
        </li>
        <li>
          <a>Правила</a>
        </li>
      </ul>
    </div>

    <div
      fxFlex
    >
    <h3>Сотрудничество</h3>
    <ul>
      <li>
        <a href="">Предложить сотрудничество</a>
      </li>
      <li>
        <a>Курьерская служба</a>
      </li>
      <li>
        <a>Пригласить друзей</a>
      </li>
      <li>
        <a>Разместить жилья</a>
      </li>
      <li>
        <a>Клининг</a>
      </li>
      <li>
        <a>Трансфер</a>
      </li>
    </ul>
  </div>


    <div
      fxFlex
    >
      <h3>Преимущества</h3>
      <ul>
        <li>
          <a href="">Удаленное бронирование</a>
        </li>
        <li>
          <a>Доверие и безопасность</a>
        </li>
        <li>
          <a>Современные решения</a>
        </li>
        <li>
          <a>Отсутствие риелторов</a>
        </li>
        <li>
          <a>Безопасные платежи</a>
        </li>
      </ul>
    </div>

    <div
      fxFlex
    >
      <h3>Контакты</h3>
      <ul>
        <li>
          <a>Мы в социальный сетях</a>
        </li>
        <li class="social">
          <a>
            <img class="social-facebook" src="assets/images/main/social/facebook.svg" alt="facebook">
          </a>
          <a>
            <img class="social-vk" src="assets/images/main/social/vk.svg" alt="vk">
          </a>
          <a>
            <img class="social-twitter" src="assets/images/main/social/twitter.svg" alt="twitter">
          </a>
        </li>
        <li>
          <a>Конфиденциальность</a>
        </li>
        <li>
          <a>Напишите нам</a>
        </li>
      </ul>
    </div>
    <div
      fxFlex.xl="13%"
      fxFlex.lg="10%"
    >
    </div>
  </div>
  <div fxLayout="row">
    <div
      fxFlex.xl="30%"
      fxFlex.lg="12%"
      fxFlex.md="8%"
      fxFlex.sm="6%"
    ></div>
    <div class="all-right section_1">
      2019 Booking house, Inc. All right reserved
    </div>
  </div>
</footer>
